<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Kinoübersicht</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/customCss/main.css">
<script type="text/javascript" src="/customJs/main.js"></script>
<script src="https://kit.fontawesome.com/dfbdf2ff96.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <div class="headline headlineBack marginBottomDiv">
       Kinoübersicht
    </div>
    <div>
        <button title="Kinoprogramm anzeigen" onclick="executeMovieButton()" class="btn movieButton"><i class="fas fa-film"></i></button>
    </div>
    <div>
        <button title="Snacks anzeigen" onclick="executeSnackButton()" class="btn snackButton"><i class="fas fa-utensils"></i></button>
    </div>
    <div>
        <button title="Administration" onclick="executeAdminButton()" class="btn adminButton"><i class="fas fa-cogs"></i></button>
    </div>


</body>
</html>