<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Snackübersicht</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/customCss/main.css">
<script type="text/javascript" src="/customJs/main.js"></script>
<script src="https://kit.fontawesome.com/dfbdf2ff96.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="headline headlineBack">
    <span title="Zur Startseite zurückkehren" onclick="returnToHome()">Kinoübersicht</span>
    <div class="parent headline headlineBack marginBottomDiv">
        <div class="child inline-block-child movieSymbol"><i class="fas fa-utensils"></i></div>
        <div class='child inline-block-child'>Snackübersicht</div>
    </div>
</div>

<form>
    <div class="formHeader">Snackname:</div>
    <input class="formTextInput" id="snackNameInput" type="text">
</form>
<button title="Snack suchen" onclick="executeSearchSnackButton()" class="btn searchSnackButton"><i class="fas fa-search"></i></button>

<div class="resultTable">
    <table border="2" style="width:100%">
        <thead>
        <tr>
            <th>Snackname</th>
            <th>Preis</th>
            <th>Groesse</th>
            <th>Kino</th>
        </tr>
        </thead>
        <tbody id="snackResultTable">

        </tbody>
    </table>
</div>

</body>
</html>